<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/weather.jpg` | relURL }}" width="150" height="150" alt="Weather and calendar on mirror">
        <h2 class="h2">Easy Try-Ons<small class="d-none">🛡️</small></h2>
        <p>Utilize augmented reality to superimpose potential outfits onto your reflection, considering weather conditions and personal schedules.
            Quickly visualize and decide on the perfect look for the day, catering to the needs of a busy professional.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/organization.jpg` | relURL }}" width="150" height="150" alt="Wardrobe organization">
        <h2 class="h2">Smart Wardrobe Organization<small class="d-none">🚀</small></h2>
        <p>The mirror intelligently categorizes and displays your diverse wardrobe, streamlining your clothing selection process.
            Easily filter through and organize items, making outfit coordination a breeze in your home.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/influencer.jpg` | relURL }}" width="150" height="150" alt="Instagram post on mirror">
        <h2 class="h2">Fashion Influence<small class="d-none">📈</small></h2>
        <p>Capture and share your unique outfit combinations directly from the mirror to your social media accounts. Showcase your
            fashion sense effortlessly, inspiring your followers with your curated looks.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Voice Activation<small class="d-none">🦉</small></h2>
        <p>Seamlessly navigate your wardrobe through an intuitive voice control feature. Effortlessly mix and match 
            outfits virtually, eliminating the need for physical try-ons.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">True-to-Life Lighting Assessments<small class="d-none">✨</small></h2>
        <p>Enjoy accurate color representation by customizing lighting settings. Simulate different environments to assess how
            your outfit looks under various lighting conditions, ensuring you always look your best.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Virtual Tailoring for Perfect Fits<small class="d-none">🧰</small></h2>
        <p>The mirror virtually tailors clothing items for a flawless fit. Receive personalized recommendations for adjustments or
            alterations, catering to the needs of taller individuals without the necessity for physical alterations.</p>
    </div>
</div>
